<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>

    <div id="app">
        <input v-model="message" placeholder="edit me" />
        <p>Message is: {{ message }}</p>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
        <hr>

        <input type="checkbox" v-model="checked" />
        <label for="checkbox">{{ checked }}</label>

    </div>

    <script>
        const App = {
            data() {
                return {
                    message: "",
                    checked:false
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>

</body>

</html>